    <!-- Begin Features -->
    <section id="features">
        <div class="container">
            <!-- Cards -->
            <div class="card">
                <h3>Career</h3>
                <p>Review my career documents including my resume, cover letter, and job applications.</p>
            </div>
            <!-- card 2 -->
            <div class="card">
                <h3>Design</h3>
                <p>Review my website designs and iamge creations.</p>
            </div>
            <!-- card 3 -->
            <div class="card">
                <h3>Programming</h3>
                <p>Review my JavaScript applications</p>
            </div>
        </div>
        <!-- End container -->
    </section>
    <!-- End Features -->