<!-- Begin Showcase -->
<section id="showcase">
    <div id="showcasetext">
        <h1>Silvia Rios</h1>
        <h2>Portfolio</h2>
        <blockquote>It always seems impossible unitl it is done. - Nelson Mandela</blockquote>
    </div>
    <div id="showcaseimg">
        <img src="Images/technologiesbig.png" alt="Technologies" id="logosbig">
        <img src="Images/technologiessmall.png" alt="Technologies" id="logossmall">
    </div>
    <p id="showcaseintro">This is a showcase of my web design/development work.</p>
</section>
<!-- End Showcase -->